# Arduino / PlatformIO
**/.vscode/
**/build/
**/.pio/
**/.cache/

# Temporary files
*.tmp
*.bak
*.swp

# OS files
.DS_Store
Thumbs.db

# Compiled libraries
*.a
*.o
*.elf
*.hex
*.bin

# Logs
*.log

# Ignore examples build outputs
examples/*/build/